@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">Smart Talent</h1>
    <p>Siga nuestro sitio web <a href="https://smartalentit.com">SmarTalentIT</a>.</p>
</div>
